@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

.mask {
  width: 100%;
  background-color: rgba(33, 95, 196, 0.6980392157);
  padding: 100px;
}

section {
  margin-bottom: 200px;
}

#first header {
  background-image: url(../images/banner-2.jpg);
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#first header nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 999999;
  padding: 20px 0;
  background-color: rgba(33, 95, 196, 0.5058823529);
}
#first header ul {
  margin: 0 auto;
}
#first header ul a {
  color: white;
}
#first header .headerBtn-1 {
  color: blue;
  padding: 10px 20px;
  border-radius: 50px;
  background-color: white;
  transition-duration: 0.3s;
  font-weight: 600;
}
#first header .headerBtn-1 i {
  margin-right: 10px;
}
#first header .headerBtn-1:hover {
  background-color: transparent;
  color: white;
  border: 1px solid white;
}
#first .firsthWatch {
  margin-top: 100px;
}
@media (max-width: 768px) {
  #first .firsthWatch .watch-1 {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
  }
}
#first .firsthWatch img {
  width: 400px;
}
@media (max-width: 768px) {
  #first .firsthWatch img {
    width: 250px;
  }
}
#first .firsthWatch .login {
  display: flex;
  flex-flow: column wrap;
  text-align: center;
  width: 400px;
  background-color: white;
  padding: 30px;
  border-radius: 10px;
}
@media (max-width: 768px) {
  #first .firsthWatch .login {
    width: 300px;
  }
}
#first .firsthWatch .login input {
  padding: 20px 10px;
  margin-bottom: 20px;
}
#first .firsthWatch .login button {
  background-color: blue;
  color: white;
}
#first .firsthWatch .login h1 {
  margin-bottom: 20px;
}

#second .blue {
  color: blue;
}
#second img {
  width: 100%;
  border-radius: 20px;
}
@media (max-width: 768px) {
  #second img {
    width: 250px;
    margin-top: 50px;
  }
}

#thirth {
  background-color: #fafafa;
  padding: 80px 0;
}
#thirth .container {
  text-align: center;
}
#thirth .container .firstp {
  margin-bottom: 50px;
}
#thirth .container .thirthIcon {
  width: 80px;
  height: 80px;
  background-color: white;
  border-radius: 50%;
  margin: 0 auto;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition-duration: 0.3s;
}
#thirth .container .thirthIcon:hover {
  background-color: #2273F8;
}
#thirth .container .thirthIcon:hover i {
  color: white;
}
#thirth .container .thirthIcon i {
  font-size: 28px;
  color: #2273F8;
}

#fourth {
  background-image: url(../images/video-bg.jpg);
  background-size: cover;
  background-position: center;
}
@media (max-width: 768px) {
  #fourth {
    width: 300px;
    margin: 0 auto;
    border-radius: 20px;
    margin-bottom: 100px;
  }
}
#fourth .mask {
  padding: 200px;
  text-align: center;
  border-radius: 20px;
}
@media (max-width: 768px) {
  #fourth .mask {
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 !important;
  }
}
#fourth .mask h2 {
  color: white;
  font-weight: 600;
}
#fourth .mask p {
  color: white;
}
@media (max-width: 768px) {
  #fourth .mask p {
    display: none;
  }
}
#fourth .mask .fourthIcon {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  background-color: white;
  cursor: pointer;
  transition-duration: 0.3s;
}
#fourth .mask .fourthIcon:hover {
  background-color: rgb(5, 5, 37);
}
#fourth .mask .fourthIcon:hover i {
  color: white;
}
#fourth .mask i {
  font-size: 36px;
}

#fiveth {
  text-align: center;
}
#fiveth .fivethBox {
  padding: 30px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 20px;
  margin: 10px;
}
@media (max-width: 768px) {
  #fiveth .fivethBox {
    margin: 20px 0;
  }
}
@media (max-width: 768px) {
  #fiveth .fiveOn {
    width: 100%;
    margin: 0 auto;
  }
}
#fiveth .imgBoxFive {
  display: flex;
}
#fiveth .imgBoxFive img {
  width: 400px;
}
@media (max-width: 768px) {
  #fiveth .imgBoxFive img {
    width: 200px;
    margin-top: 30px;
  }
}
@media (max-width: 768px) {
  #fiveth .imgBoxFive {
    width: 100%;
    justify-content: center;
  }
}
#fiveth .fivethP {
  margin-bottom: 50px;
}
#fiveth .fivethIcon {
  text-align: center;
  margin: 0 auto;
}
#fiveth .fivethIcon i {
  margin-right: 10px;
  color: #2273F8;
}
#fiveth h1 {
  margin-bottom: 20px;
  font-weight: 700;
}
#fiveth img {
  width: 300px;
}

#sixth .container {
  text-align: center;
}
#sixth .row {
  text-align: left;
  margin-top: 50px;
}
#sixth .row img {
  width: 400px;
}
@media (max-width: 768px) {
  #sixth .row img {
    width: 200px;
  }
}
#sixth .row .imgBoxSix {
  display: flex;
  justify-content: center;
}
#sixth .row .sixthIcon {
  margin-right: 30px;
  border: dashed #2273F8;
  width: 245px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  border-radius: 50%;
}
#sixth .row .sixthIcon i {
  color: #2273F8;
}

#seventh {
  background-image: url(../images/newsletter-bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}
#seventh .container {
  background-color: white;
  padding: 40px;
  border-radius: 20px;
}/*# sourceMappingURL=style.css.map */